In [17]:
import json
import requests
from config import fed_api_key
from pprint import pprint
import pandas as pd
import numpy as np

In [18]:
pop = ['AUSPOP','HTNPOP','DFWPOP','SATPOP','ELPPOP','MCLPOP']
hpi = ['ATNHPIUS12420Q','ATNHPIUS26420Q','ATNHPIUS19124Q','ATNHPIUS41700Q','ATNHPIUS21340Q','ATNHPIUS32580Q']

In [19]:
#'https://api.stlouisfed.org/fred/series/observations?series_id=WPU0811&api_key=0a60bfbafed5ab7080d559305d53573a&file_type=json'
base_url='https://api.stlouisfed.org/fred/series/observations?series_id='
mid_url = '&api_key='
end_url='&file_type=json'
urls =[]
dummies = []
for x in pop:
    url = base_url + x + mid_url + fed_api_key + end_url
    urls.append(url)

In [20]:
#pull populations and create CSVs
x = 0
dates = []
values = []
msa = []
for url in urls:
    response = requests.get(url)
    data_json = response.json()
    for data in data_json['observations']:
        dates.append(data['date'])
        values.append(data['value'])
        msa.append(pop[x])
    x = x+1
df = pd.DataFrame({
    "MetroArea": msa,
    "date": dates,
    "values": values
})
df.to_csv('Resources/Population.csv')

In [21]:
#Pull Pricing index and create CSVs
urls =[]
for y in hpi:
    url = base_url + y + mid_url + fed_api_key + end_url
    urls.append(url)
x = 0
dates = []
values = []
msa = []
for url in urls:
    response = requests.get(url)
    data_json = response.json()
    for data in data_json['observations']:
        dates.append(data['date'])
        values.append(data['value'])
        msa.append(pop[x])
    x = x+1
df = pd.DataFrame({
    "MetroArea": msa,
    "date": dates,
    "values": values
})
df.to_csv('Resources/HPI.csv')

In [22]:
file = "Resources/ZilloHomeValueIndexZip.csv"
zhvi_df = pd.read_csv(file)
zhvi_df = zhvi_df[zhvi_df['State']=='TX']
zhvi_df = zhvi_df.drop(columns=['SizeRank','CountyName','RegionID','RegionType','StateName','Metro','State'])
zhvi_df

,RegionName,City,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,...,2020-10-31,2020-11-30,2020-12-31,2021-01-31,2021-02-28,2021-03-31,2021-04-30,2021-05-31,2021-06-30,2021-07-31
3,77494,Katy,201649.0,201899.0,201700.0,200504.0,199360.0,198689.0,199457.0,199143.0,...,345982.0,349035.0,353498.0,358004.0,363402.0,369313.0,376254.0,383839.0,392947.0,403712.0
5,77449,Katy,98464.0,98455.0,98413.0,98433.0,98428.0,98399.0,98355.0,98429.0,...,200863.0,202887.0,204993.0,207546.0,210639.0,212947.0,215765.0,219203.0,224455.0,230015.0
7,77084,Houston,98773.0,98801.0,98728.0,98724.0,98681.0,98658.0,98523.0,98480.0,...,199091.0,201219.0,203381.0,206047.0,209110.0,211538.0,214389.0,217757.0,222692.0,227978.0
8,79936,El Paso,82995.0,82952.0,82921.0,82884.0,82965.0,83074.0,83205.0,83275.0,...,143334.0,145482.0,147313.0,148916.0,150625.0,152539.0,154678.0,157256.0,159956.0,162707.0
12,78660,Pflugerville,148012.0,147846.0,147743.0,147645.0,147680.0,147777.0,147800.0,147907.0,...,302018.0,308758.0,315707.0,322966.0,332660.0,344613.0,360063.0,376724.0,397065.0,417808.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30745,79326,Fieldton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,155935.0,155417.0,153513.0,152696.0,152812.0,153437.0,153063.0,150981.0,147835.0,145374.0
30758,77428,Palacios,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121770.0,122648.0,123617.0,124128.0,124417.0,124540.0,124476.0,124442.0,124556.0,125276.0
30795,3575,Clifton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,547316.0,553444.0,560554.0,569498.0,574659.0,579402.0,583359.0,588514.0,594592.0,601214.0
30808,77710,Beaumont,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,89117.0,89251.0,89120.0,88653.0,88099.0,88019.0,87018.0,85369.0,82389.0,79598.0
30810,734,Ponce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,374423.0,378281.0,381117.0,381477.0,385161.0,388210.0,391693.0,394268.0,398157.0,400621.0

In [23]:
zhvi2_df = pd.melt(zhvi_df,id_vars=['RegionName','City'],var_name="Date",value_name="value")
zhvi2_df.dropna()
zhvi2_df

        RegionName          City        Date     value
0            77494          Katy  1996-01-31  201649.0
1            77449          Katy  1996-01-31   98464.0
2            77084       Houston  1996-01-31   98773.0
3            79936       El Paso  1996-01-31   82995.0
4            78660  Pflugerville  1996-01-31  148012.0
...            ...           ...         ...       ...
559349       79326      Fieldton  2021-07-31  145374.0
559350       77428      Palacios  2021-07-31  125276.0
559351        3575       Clifton  2021-07-31  601214.0
559352       77710      Beaumont  2021-07-31   79598.0
559353         734         Ponce  2021-07-31  400621.0

[559354 rows x 4 columns]

In [24]:
df.to_csv('Resources/zhvi_zip.csv')