In [8]:
import json
import requests
from config import fed_api_key
from pprint import pprint
import pandas as pd
import numpy as np

In [9]:
commodities_dict= {'lumber':'WPU081','cement':'PCU32733273','steel':'WPU10170674','stone':'WPS1321','brick':'PCU32733132733106'}

In [10]:
#'https://api.stlouisfed.org/fred/series/observations?series_id=WPU0811&api_key=0a60bfbafed5ab7080d559305d53573a&file_type=json'
base_url='https://api.stlouisfed.org/fred/series/observations?series_id='
mid_url = '&api_key='
end_url='&file_type=json'
urls =[]
dummies = []

In [11]:
commodity_name=[]
dates = []
values = []

for key,value in commodities_dict.items():
    url = base_url + value + mid_url + fed_api_key + end_url
    response = requests.get(url)
    data_json = response.json()
    for data in data_json['observations']:
         dates.append(data['date'])
         values.append(data['value'])
         commodity_name.append(key)
df = pd.DataFrame({
     "Commodity": commodity_name,
     "date": dates,
     "values": values
})
df.to_csv('Resources/ConstructionCommodities.csv')

In [12]:
file = "Resources/ZilloHomeValueIndexZip.csv"
zhvi_df = pd.read_csv(file)
#zhvi_df = zhvi_df[zhvi_df['State']=='TX']
zhvi_df = zhvi_df.drop(columns=['SizeRank','RegionID','RegionType','StateName'])

In [13]:
zhvi2_df = pd.melt(zhvi_df,id_vars=['RegionName','Metro','City','State','CountyName'],var_name='MeasureDate', value_name='Value')
zhvi2_df

,RegionName,Metro,City,State,CountyName,MeasureDate,Value
0,10025,New York-Newark-Jersey City,New York,NY,New York County,1996-01-31,193814.0
1,60657,Chicago-Naperville-Elgin,Chicago,IL,Cook County,1996-01-31,262402.0
2,10023,New York-Newark-Jersey City,New York,NY,New York County,1996-01-31,261664.0
3,77494,Houston-The Woodlands-Sugar Land,Katy,TX,Harris County,1996-01-31,201649.0
4,60614,Chicago-Naperville-Elgin,Chicago,IL,Cook County,1996-01-31,353678.0
...,...,...,...,...,...,...,...
9467568,72630,Harrison,Diamond City,AR,Boone County,2021-07-31,114784.0
9467569,12345,Medford,Central Point,OR,Jackson County,2021-07-31,165290.0
9467570,66045,Lawrence,Lawrence,KS,Douglas County,2021-07-31,253369.0
9467571,1470,Boston-Cambridge-Newton,Groton,MA,Middlesex County,2021-07-31,423589.0
9467572,822,Ruston,Choudrant,LA,Lincoln Parish,2021-07-31,186235.0

In [14]:
zhvi2_df.to_csv('Resources/zhvi_zip.csv')